<style>
    /* Add your custom CSS styles here */
    
    form {
      margin: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      background-color: #f5f5f5;
      width: 300px;
      max-width: 100%;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
    
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }
    
    input[type="text"] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      display: inline-block;
      padding: 8px 16px;
      background-color: #4CAF50;
      color: white;
      border: none;
      text-decoration: none;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }
    
    p.error-message {
      margin-bottom: 10px;
      color: red;
      font-size: 14px;
    }
    
    p.register-link {
      margin-top: 10px;
      font-size: 14px;
    }
    
    a {
      color: #0000FF;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
</style>

{% extends "base.html" %}

{% block title %}login{% endblock title %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <label>Username:</label><br>
    <input type="text" name="username"><br>
    <label>Password:</label><br>
    <input type="text" name="password"><br>
    <input type="submit" value="Login"><br>
    {% for message in messages %}
    <p class="error-message">{{message}}</p>
    {% endfor %}
</form>
<p class="register-link">Don't have an account? <a href="{% url 'register_page' %}">Sign up</a></p> 

{% endblock content %}